html{
  overflow-y: hidden;
}
body{
  background-color: #fdfdfd;
  overflow-y:scroll ;
}
.columns{
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 8px;
  width: 100%;
}
.rows{
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}
.column{
  background-color: beige;
  flex-grow: 1;
}
.is-hidden{
  display: none;
}

#stage, .subdeck{
  position: relative;
  top: 200px;
  left: 200px;
}
#subdeck1{
  position: relative;
  top: 400px;
  left: 20px;
}
#subdeck2{
  position: relative;
  top: 400px;
  left: 100px;
}
#subdeck3{
  position: relative;
  top: 400px;
  left: 180px;
}
