.columns{
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 8px;
  width: 100%;
}
.rows{
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}
.column{
  background-color: beige;
  flex-grow: 1;
}
.is-hidden{
  display: none;
}